t-loader {
  position: relative;
  display: inline-block;
  //width: 50vh; height: 50vh;
  width: 400px; height: 400px;

  background: rgba(0, 0, 30, 0.5); // purple
  background: #000;
  border-radius: 50%;
  box-shadow: 0 -4px 4px #000; // partialy cover the spinning dots

  // Zodiac sign in the middle
  //text-align: center;
  //line-height: 400px;
  //font-size: 240px;
  //color: #fff;



  // the dotted outside border
  &::after {
    content: "";
    display: block;

    position: absolute;
    top: -2px; left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-left: -4px; // adjust position (border width)
    //padding: (10px - 4px); // border width
    padding: 0;

    //background: green;
    border: 4px dotted #fff;
    border-radius: 50%;

    //opacity: 1;


    animation-iteration-count: infinite;
    animation-timing-function: linear;

    animation-name: borderSpin;
    animation-duration: 200s;
  }
}


@keyframes borderSpin {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}
