t-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  h2 {
    position: absolute;
    width: 100%;
    bottom: 2.6rem;

    text-align: center;
    font-size: 1.6rem;
  }


  t-planet {
    display: inline-block;
    font-size: 26rem !important;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .jupiter {
    background-image: url('/src/public/images/planet__jupiter.png');
  }
}




t-planet-detail {
  position: absolute;
  top: -20rem;
  //left: -5rem;
  //width: 100%;

  text-align: center;


  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline-block;
    width: 10rem;
  }

  .symbol {
    display: block;
    height: 6rem;

    font-size: 4rem;
  }

  .label {
    display: block;

    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }


  // Tarot card thumbnail
  img {
    width: 48px;
    height: 48px;

    border: 2px solid #fff;
    border-radius: 2px;
  }
}




// Graphics elements - lines

t-planet-detail {
  ul {
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      background: #fff;
    }


    //vertical line
    &::before {
      width: 1px; height: 100px;
      bottom: -12.5rem;
      left: 50%;
    }

    // the dot
    &::after {
      width: 2rem; height: 2rem;
      bottom: -13.5rem;
      left: 50%;
      margin-left: -1rem;

      border-radius: 50%;
    }
  }



  li {
    position: relative;

    // vertical & horizontal lines
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      background: #fff;
    }

    //vertical line
    &::before {
      width: 1px; height: 10px;
      bottom: -2.5rem;
      left: 50%;
    }

    //horizontal line
    &::after {
      width: 100%; height: 1px;
      bottom: -2.5rem;
      //left: 50%;
      left: 0%;
    }

    &:first-child::after { width: 50%; left: 50%; }
    &:last-child::after { width: 50%; }
  }
}