.solarSystem {
  //width: 100vh;
  height: 100vh;
  margin-bottom: 0;


  //display: grid;
  //grid-template-columns: repeat(11, 6%);
  display: flex;
  align-items: center;
  //justify-items: space-around;



  t-planet {
    float: left;
    margin-right: 10px;
  }

  t-planet:not(.sun):not(.jupiter) {
    //display: none;
  }
}
