#universe {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;

  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
}


#galaxy {
  position: relative;
  width: 100%;
  height: 100%;

  z-index: 3;
}


#sun,
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  border-radius: 50%;
}


#sun {
  left: 0;
  margin-left: -.65em;

  background-color: #FB7209;
  background-repeat: no-repeat;

  background-size: 100% 200%;
  background-position: 0px -400px;
  box-shadow: 0 0 60px rgba(255, 160, 60, 0.4);
  background-image: url('/src/public/images/planet__sun.png');
}


.planet {
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Animations */
@keyframes orbit {
  0%   { transform: rotateZ(0deg);}
  100% { transform: rotateZ(-360deg);}
}

/* Orbit sizes */
#mercury.orbit {
  width: 12em;
  height: 12em;
  margin-top: -6em;
  margin-left: -6em;
}

/* Planet starting positions */
#mercury .planet {
  left: 50%;
  top: -1%;
}

/* Planet animation durations */
#mercury.orbit {
  animation-duration: 2.89016s;
}


/* Planet sizes */
#sun {
  font-size: 80em;
}
#mercury {
  font-size: 4em;
}

/* Planet shadow animations */
#mercury .planet {
  animation-name: shadow-mercury;
  animation-duration: 2.89016s;}



@keyframes shadow-mercury {
  0% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    /* TOP */ }

  25% {
    box-shadow: inset 16px 0 8px rgba(0, 0, 0, 0.5);
    /* LEFT */ }

  50% {
    box-shadow: inset 40px -20px 16px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  50.01% {
    box-shadow: inset -40px -20px 16px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ }

  75% {
    box-shadow: inset -16px 0 8px rgba(0, 0, 0, 0.5);
    /* RIGHT */ }
    
  100% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    /* TOP */ }    
}