html {
  //font-size: 62.5%; // = 10px
  font-size: 10px;
}

body {
  font-size: 62.5%; // = 10px
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  background-color: #000;
  color: #fff;
}


.app {
  position: relative;
  z-index: 2;

  width: 1600px;
  height: 1000px;

  //background-image: url('/src/public/images/web__BG--plain.png');
  //background-image: url('/src/public/images/web__planet--detail.png');
  background-image: url('/src/public/images/web__BG-zodiac.png');
  background-image: url('/src/public/images/solar-system.jpg');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: .5em;
}




section {
  margin-bottom: 2rem;
}




header {
  text-align: center

  h1 {
    opacity: .5;
  }
}

