//.......component?
.list__title {
  margin-bottom: .5rem;
}


ul {
  //@extend .resetList;
}


.dev__debug-data {
  li {
    display: inline-block;

    &::first-child {
      display: block;
    }


    // add separator
    &:not(:last-child)::after {
      padding-left: .5rem;
      padding-right: .5rem;
      content: "|";
      opacity: .5;
    }
  }
}
