.solarSystem,
.dev__debug-data {
  display: none;
}



.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('/src/public/images/web__BG--plain.png');
}